@import "tailwindcss";
@font-face {
  font-family: "Foregen";
  src: url("../public/The\ Foregen\ Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "sixcaps";
  src: url("../public/SixCaps.ttf") format("opentype");
}

@font-face {
  font-family: "Neuhade";
  src: url("../public/Neuhade\ Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BearDays";
  src: url("../public/Bear\ Days.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-foregen: "Foregen", sans-serif;
  --font-neuhade: "Neuhade", sans-serif;
  --font-beardays: "BearDays", sans-serif;
  --font-sixcaps: "sixcaps", sans-serif;
  --color-primary: #f1faee;
  --color-secondary: #007a74;
}
.canvas {
  /* position: fixed !important; */
  top: 0px;
  left: 0px;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 10;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
